@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto+Slab:wght@100..900&family=Spicy+Rice&display=swap');

@keyframes animate {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

header{
    opacity: 0;
    z-index: 300;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(25px);
    padding: 0.75vw 0;
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav img{
    width: 10vh;
}

header nav ul{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li{
    opacity: 0;
    list-style: none;
    margin: 0 1.5vw ;
    position: relative;

}

header nav ul li:hover{
    transition: all 0.75s;
    transform: scale(1.05);
}

header nav ul li:hover::after{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.2vw;
    width: 100%;
    background-color: #fff1db;
    animation: animate 0.5s ease;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.75vw;
}

header nav ul li a:hover{
    color: #fff1db;
    transition: all 0.5s;
}